---
FormatStyle: 'file'

Checks: "*,
        -abseil-*,
        -altera-*,
        -android-*,
        -fuchsia-*,
        -llvm*,
        -zircon-*,
        google-*,
"
WarningsAsErrors: '*'
ExcludeHeaderFilterRegex: '*/_deps/*'