name: Lumi CI Ubuntu Test

on:
  push:
    branches: [ "main", "develop" ]
  pull_request:
    branches: [ "main", "develop" ]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest ]
        build_type: [ Debug ]
        compiler: [ gcc, clang ]
        include:
          - os: ubuntu-latest
            build_type: Debug
            compiler: clang
            apt_packages: "clang lld llvm"
          - os: ubuntu-latest
            build_type: Debug
            compiler: gcc
            coverage: true
            apt_packages: "gcc g++ lcov"

    name: ${{ matrix.os }} / ${{ matrix.compiler }} (${{ matrix.build_type }})${{ matrix.name_suffix }}
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: First Interaction
        uses: actions/first-interaction@v1.3.0
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          issue-message: "Hello @{{ contributor }}! Thanks for opening your first issue in this repository. We appreciate your contribution!"
          pr-message: "Welcome, @{{ contributor }}! We're excited to see your first pull request. We'll review it shortly!"
      - name: Set up Build Environment
        run: |
          sudo apt-get update
          sudo apt-get install -y ${{ matrix.apt_packages }} libwayland-dev wayland-protocols libxkbcommon-dev xorg-dev
      - name: Set up CMake and Ninja
        uses: lukka/get-cmake@latest
        with:
          cmakeVersion: latest
          ninjaVersion: latest
      - name: Run Tests
        run: |
          cmake --workflow --preset=ci-workflow-tests
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: lumi-binaries-${{ matrix.os }}-${{ matrix.compiler }}-${{ matrix.build_type }}
          path: |
            build/bin/Debug/LumiTests
            
            build/lib/Debug/*.a
            build/lib/Debug/*.lib