name: Lint

on:
  push:
  pull_request:

permissions:
  checks: write
  contents: read

jobs:
  run-linters:
    name: Format and Lint Code
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4

      - name: Install Clang-Format
        uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: clang-format
      - name: Run Clang-Format
        uses: wearerequired/lint-action@v2
        with:
          clang_format: true
      - name: Run cppcheck
        uses: deep5050/cppcheck-action@main
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - name: Publish cppcheck report
        uses: mikeal/publish-to-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH_NAME: 'main' # your branch name goes here