name: Lint

on:
  push:
  pull_request:

permissions:
  checks: write
  contents: read

jobs:
  run-linters:
    name: Format and Lint Code
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4

      - name: Install Clang-Format and Clang-Tidy
        uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: clang-format clang-tidy libwayland-dev wayland-protocols libxkbcommon-dev xorg-dev
      - name: Setup build environment
        uses: lukka/get-cmake@latest
        with:
          cmakeVersion: latest
          ninjaVersion: latest
      - name: Run Clang-Format
        uses: wearerequired/lint-action@v2
        with:
          clang_format: true
      - name: Run Clang-Tidy
        run: |
          mkdir -p build
          cd build
          cmake .. -DLUMI_BUILD_DOCS=OFF -DCMAKE_EXPORT_COMPILE_COMMANDS=ON -DCMAKE_BUILD_TYPE=Debug
          cd ..
          run-clang-tidy -p build/
          if [ $? -ne 0 ]; then
              echo "Clang-Tidy found issues. Please fix them before merging."
              exit 1
          fi