name: Lint

on:
  push:
  pull_request:

permissions:
  checks: write
  contents: read

jobs:
  run-linters:
    name: Format and Lint Code
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4

      - name: Install dependencies
        run: sudo add-apt-repository universe
        uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: clang-format clang-tidy build-essential software-properties-common gcc-14

      - name: Set up CMake and Ninja
        uses: lukka/get-cmake@latest
        with:
          cmakeVersion: latest
          ninjaVersion: latest

      - name: Generate compilation database
        run: |
          cmake -S . -B build -DCMAKE_EXPORT_COMPILE_COMMANDS=ON -DLUMI_BUILD_TESTS=ON -DLUMI_BUILD_EXAMPLES=ON -DLUMI_BUILD_ALL=ON -DLUMI_BUILD_DOCS=OFF -G Ninja

      - name: Run Clang-Format
        uses: wearerequired/lint-action@v2
        with:
          clang_format: true

      - name: Run Clang-Tidy
        run: run-clang-tidy '^(?!.*[\\/]_deps[\\/])' -p build
        continue-on-error: true

      - name: Publish Clang-Tidy report
        uses: actions/upload-artifact@v4
        with:
          name: clang-tidy-report
          path: clang_tidy_report.txt