name: Lint

on:
  push:
  pull_request:

permissions:
  checks: write
  contents: read

jobs:
  run-linters:
    name: Format and Lint Code
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4

      - name: Install latest Clang/LLVM
        run: |
          wget https://apt.llvm.org/llvm.sh
          chmod +x llvm.sh
          sudo ./llvm.sh all

      - name: Install build essentials and other dependencies
        uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: build-essential software-properties-common

      - name: Set up CMake and Ninja
        uses: lukka/get-cmake@latest
        with:
          cmakeVersion: latest
          ninjaVersion: latest

      - name: Setup Clang Environment
        run: |
          export CC=$(which clang)
          export CXX=$(which clang++)
      - name: Run Clang-Format
        uses: wearerequired/lint-action@v2
        with:
          clang_format: true
      - name: Run Clang-tidy
        uses: HorstBaerbel/action-clang-tidy@1.2
        with:
          scandir: '.'
          builddir: 'build'
          excludedirs: '^(?!.*[\\/]_deps[\\/])'
          extensions: 'cppm,cpp,h'
          cmakeoptions: '-DCMAKE_EXPORT_COMPILE_COMMANDS=ON -DLUMI_BUILD_TESTS=ON -DLUMI_BUILD_EXAMPLES=ON -DLUMI_BUILD_ALL=ON -G Ninja'